@font-face {
	font-family: MyriadPro;
	src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
	font-family: Interstate;
	src: url(./fonts/interstate-regular-comp.otf);
}
@font-face {
	font-family: InterstateBold;
	src: url(./fonts/interstate-bold-cond.otf);
}