@import "fonts.css";

/* ----------------------------------
COMMON
------------------------------------*/
body {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}
.wrap {
    max-width: 1296px;
    width: 100%;
    margin: auto;
}

/* ----------------------------------
HEADER
------------------------------------*/
header {
    height: 160px;
    border-bottom: 23px solid #001254;
}
header .wrap {
    display: flex;
}
header h1 {
    padding-right: 33px;;
}
header .logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
}
header .logo-container .logo-img {
    position: relative;
    bottom: -12px;
    width: 170px;
    height: 160px;
    margin-right: 36px;
    background-color: #fff;
    text-align: center;
}
header .logo-container .logo-txt {
    border-right: 2px solid #ccc;
    padding-right: 48px;;
    margin-bottom: 25px;
}
header .logo-container .logo-txt .title {
    display: block;
    color: #193989;
    font-size: 53.95px;
    font-family: InterstateBold;
    font-weight: bold;
    line-height: 0.8;
}
header .logo-container .logo-txt .sub {
    display: block;
    color: #009bfa;
    font-size: 20.39px;
    font-family: InterstateBold;
}
header nav {
    width: 100%;
    height: 127px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
header nav ul li a:link {
    padding: 0 15px;
    color: #000;
    font-size: 19.47px;
    text-decoration: none;
}

/* ----------------------------------
BANNER
------------------------------------*/
.sec-banner {
    height: 525px;
    background-image: url(../img/bg-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #518abd;
}
.sec-banner .wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec-banner h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}
.sec-banner p {
    color: #fff;
    font-size: 36px;;
}

/* ----------------------------------
INSIGHTS
------------------------------------*/
.sec-insights {
    padding: 49px 0 39px;
    background-color: #ebebeb;
}
.sec-insights h2 {
    color: #000;
    font-size: 34px;
}
.sec-insights .sub {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
}