@import "fonts.css";

/* ----------------------------------
COMMON
------------------------------------*/
body {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}
.wrap {
    max-width: 1296px;
    min-width: 1296px;
    width: 100%;
    margin: auto;
}
.pc {
    display: block;
}
.sp {
    display: none !important;
}

/* ----------------------------------
HEADER
------------------------------------*/
header {
    height: 160px;
    border-bottom: 23px solid #001254;
}
header .wrap {
    display: flex;
}
header h1 {
    padding-right: 33px;;
}
header .logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
}
header .logo-container .logo-img {
    position: relative;
    bottom: -12px;
    width: 170px;
    height: 160px;
    margin-right: 36px;
    background-color: #fff;
    text-align: center;
}
header .logo-container .logo-txt {
    border-right: 2px solid #ccc;
    padding-right: 48px;;
    margin-bottom: 25px;
}
header .logo-container .logo-txt .title {
    display: block;
    color: #193989;
    font-size: 53.95px;
    font-family: InterstateBold;
    font-weight: bold;
    line-height: 0.8;
}
header .logo-container .logo-txt .sub {
    display: block;
    color: #009bfa;
    font-size: 20.39px;
    font-family: InterstateBold;
}
header nav {
    width: 100%;
    height: 127px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
header nav ul li a:link {
    padding: 0 15px;
    color: #000;
    font-size: 19.47px;
    text-decoration: none;
}

/* ----------------------------------
BANNER
------------------------------------*/
.sec-banner {
    position: relative;
    height: 525px;
    background-image: url(../img/bg-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #518abd;
}
.sec-banner .wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec-banner h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}
.sec-banner h2 span {
    display: block;
}
.sec-banner p {
    color: #fff;
    font-size: 36px;;
}

/* ----------------------------------
INSIGHTS
------------------------------------*/
.sec-insights {
    padding: 49px 0 39px;
    background-color: #ebebeb;
    overflow: hidden;
}
.sec-insights h2 {
    color: #000;
    font-size: 34px;
}
.sec-insights .sub {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
}
.slider-insights .box {
    padding: 10px;
}
.slider-insights .box .content {
    width: 100%;
    height: 421px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -6px #000;
    box-sizing: border-box;
}
.slider-insights .box .content .img {
    position: relative;
    overflow: hidden;
}
.slider-insights .box .content .img:before {
    content: '';
    position: absolute;
    top: -52px;
    left: -11px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #fff;
    transform: rotate(45deg);
}
.slider-insights .box .content .img:after {
    content: '';
    position: absolute;
    bottom: -45px;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #fff;
    transform: rotate(225deg);
}
.slider-insights .box .content img {
    margin: 0;
    padding: 0;
}
.slider-insights .box .content .title {
    padding-top: 14px;
    font-size: 35px;
    font-weight: bold;
}
.slider-insights .content.slide1 {
    border-bottom: 12px solid #1450d2;
}
.slider-insights .content.slide2 {
    border-bottom: 12px solid #01a49c;
}
.slider-insights .content.slide3 {
    border-bottom: 12px solid #009bfa;
}
.slider-insights .content.slide1 .title {
    color: #1450d2;
}
.slider-insights .content.slide2 .title {
    color: #01a49c;
}
.slider-insights .content.slide3 .title {
    color: #009bfa;
}

/* ----------------------------------
COMMITMENT
------------------------------------*/
.sec-commitment {
    height: 446px;
    background-image: url(../img/bg-commitment.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.sec-commitment .wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-commitment h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}
.sec-commitment p {
    margin-bottom: 60px;
    color: #f7f7f7;
    font-size: 24px;;
    text-align: center;
}
.sec-commitment a {
    display: block;
    width: 182px;
    padding: 17px 0 16px;
    color: #f7f7f7;
    font-size: 17.97px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    font-family: InterstateBold;
}

/* ----------------------------------
EVENTS
------------------------------------*/
.sec-events {
    padding: 49px 0 39px;
    background-color: #ebebeb;
    overflow: hidden;
}
.sec-events h2 {
    color: #000;
    font-size: 34px;
}
.sec-events .sub {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
}
.slider-events .box {
    padding: 28px 10px 10px;
}
.slider-events .box .content {
    position: relative;
    width: 100%;
    background-color: #1450d2;
    box-sizing: border-box;
}
.slider-events .box .info {
    padding: 88px 24px 48px;
}
.slider-events .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    left: 30px;
    width: 93px;
    height: 86px;
    background-color: #001254;
}
.slider-events .date:before {
    content: '';
    position: absolute;
    top: 0;
    left: -11px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #3b4e96;
    transform: rotate(225deg);
    color: #fff;
    font-family: Interstate;
}
.slider-events .date .month {
    font-size: 16.25px;
}
.slider-events .date .day {
    font-size:36px;
    font-weight: bold;
}
.slider-events h3 {
    margin-bottom: 3px;
    color: #f7f7f7;
    font-size: 28px;
    font-weight: bold;
}
.slider-events .desc {
    height: 34px;
    margin-bottom: 23px;
    color: #f7f7f7;
    font-size: 15px;
}
.slider-events .button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 48px;
    color: #f7f7f7;
    font-size: 17.97px;
    font-family: InterstateBold;
    text-decoration: none;
    border: 1px solid #f7f7f7;
}
.slider-events .address {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    height: 51px;
    margin-left: 24px;
    padding-right: 24px;
    background-color: #ebebeb;
    overflow: hidden;
}
.slider-events .address:before {
    content: '';
    position: absolute;
    top: -75px;
    left: -27px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #1450d2;
    transform: rotate(45deg);
}
.slider-events .address p {
    color: #000;
    font-size: 24px;
    font-family: InterstateBold;
}




/* ----------------------------------
EVENTS
------------------------------------*/
footer {
    height: 97px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #707070;
}
footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer .call-txt {
    font-size: 14px;
    color: #fff;
}
footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social p {
    font-size: 14px;
    color: #fff;
}
footer .social ul {
    display: flex;
}
footer .social ul li {
    padding-left: 10px;
}
footer .buttons {
    padding-bottom: 10px;
}
footer .buttons.cols {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
footer .buttons.cols li {
    width: 48.5%;
}
footer .buttons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38.5px;
    margin-bottom: 7.5px;
    background-color: #eaecee;
    color: #707070;
    font-size: 12px;
    font-family: InterstateBold;
    text-decoration: unset;
}
footer .sitelink {
    color: #193989;
    font-size: 12px;
    border-bottom: 1px solid #000;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 10px;
}



/* ----------------------------------
MOBILE
------------------------------------*/
@media only screen and (max-device-width: 640px){
    .wrap {
        min-width: unset;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }

    header {
      height: unset;
      border: none;
    }
    header .wrap {
        padding: 0 13.5px;
    }
    header .menu-container {
        display: flex;
        align-items: center;
    }
    header .sp-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 42px;
    }
    header .sp-menu, 
    header .sp-menu-bar {
        width: 19px;
        height: 16px;
    }
    header .sp-menu-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .sp-menu .sp-menu-bar span {
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 10px;
        background-color: #193989;
    }


    .sec-banner {
        height: 408px;
        padding: 0;
        background-image: unset;
        background-color: #1a9cf7;
    }
    .sec-banner h2 {
        position: relative;
        width: 80%;
        margin-bottom: 29px;
        font-size: 30px;
    }
    .sec-banner h2 span {
        font-size: 14px;
    }
    .sec-banner h2:after {
        position: absolute;
        bottom: -20px;
        left: 0;
        content:"................";
        letter-spacing: 6px;
        font-size: 15px;
    }
    .sec-banner p.sp {
        position: absolute;
        color: #ebebeb;
        top: 33px;
        font-size: 14px;
    }
    .sec-banner p {
        font-size: 14px;
    }


    .sec-insights {
        background-color: #001a7a;
        padding: 20px 0;
    }
    .sec-insights h2 {
        font-size: 24px;;
        color: #fff;
    }
    .sec-insights h2 span {
        font-weight: bold;
    }
    .sec-insights .sub {
        margin-bottom: 10px;
        font-size: 14px;
        color: #ccd1e4;
    }

    .slider-insights .box .content {
        width: 60vw;
        height: unset;
        padding: 15px;
    }
    .slider-insights .box {
        transform: scaleY(0.8);
    }
    .slider-insights .box.slick-active {
        transform: scaleY(1);
    }
    .slider-insights .box .content .img  {
        height: 172px;
    }
    .slider-insights .box .content .img:before {
        top: -82px;
        left: -18px;
    }
    .slider-insights .box .content .img:after {
        bottom: -62px;
        right: -42px;
    }
    .slider-insights .box .content .title {
        font-size: 20px;
    }
    .slider-insights .content.slide1 {
        border-bottom: 5px solid #1450d2;
    }
    .slider-insights .content.slide2 {
        border-bottom: 5px solid #01a49c;
    }
    .slider-insights .content.slide3 {
        border-bottom: 5px solid #009bfa;
    }
    .slider-insights .slick-list,
    .slider-events .slick-list {
        width: 100vw;
    }


    .sec-commitment {
        height: 286px;
    }
    .sec-commitment h2 {
        font-size: 20px;
    }
    .sec-commitment p {
        font-size: 12px;
    }
    .sec-commitment a {
        width: 91px;
        font-size: 12px;
        padding: 10px 0 10px;
    }


    .sec-events {
        padding: 30px 0 20px;
    }
    .sec-events h2 {
        font-size: 24px;;
        color: #001a7a;
    }
    .sec-events h2 span {
        font-weight: bold;
    }
    .sec-events .sub {
        margin-bottom: 10px;
        font-size: 14px;
        color: #707070;
    }
    .slider-events h3 {
        margin-bottom: 11px;
        font-size: 20px;
    }
    .slider-events .box .content {
        width: 60vw;
        box-shadow: 0px -4px 9px -7px #000;
    }
    .slider-events .box {
        transform: scaleY(0.8);
    }
    .slider-events .box.slick-active {
        transform: scaleY(1);
    }
    .slider-events .date {
        width: 58px;
        height: 53px;
        background-color: #fff;
        color: #008c82;
    }
    .slider-events .date:before {
        border-right: 13px solid #c3c3c3;
    }
    .slider-events .date .month {
        font-size: 11px;;
    }
    .slider-events .date .day {
        font-size: 22px;;
    }
    .slider-events .box .info {
        padding: 54px 22px 18px;
    }
    .slider-events .desc {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .slider-events .address {
        height: 31px;
    }
    .slider-events .address p {
        font-size: 14px;
        color: #707070;
    }
    .slider-events .button a {
        width: 122px;
        height: 29px;
        font-size: 12px;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    .slick-dots li {
        width: 9px;
        height: 9px;
        margin: 0 7px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #b7b7b7;
    }
    .slick-dots li.slick-active {
        background-color: #b7b7b7;
    }
    .slick-dots li button {
        color: transparent;
        background-color: unset;
        border: none;
    }

    .endlogo {
        text-align: center;
    }
    .endlogo img {
        width: 46px;
        padding-top: 20px;
    }
    footer {
        height: auto;
        background-color: #ccc;
    }
}