@import "fonts.css";

/* ----------------------------------
COMMON
------------------------------------*/
body {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}
.wrap {
    max-width: 1296px;
    width: 100%;
    margin: auto;
}

/* ----------------------------------
HEADER
------------------------------------*/
header {
    height: 160px;
    border-bottom: 23px solid #001254;
}
header .wrap {
    display: flex;
}
header h1 {
    padding-right: 33px;;
}
header .logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
}
header .logo-container .logo-img {
    position: relative;
    bottom: -12px;
    width: 170px;
    height: 160px;
    margin-right: 36px;
    background-color: #fff;
    text-align: center;
}
header .logo-container .logo-txt {
    border-right: 2px solid #ccc;
    padding-right: 48px;;
    margin-bottom: 25px;
}
header .logo-container .logo-txt .title {
    display: block;
    color: #193989;
    font-size: 53.95px;
    font-family: InterstateBold;
    font-weight: bold;
    line-height: 0.8;
}
header .logo-container .logo-txt .sub {
    display: block;
    color: #009bfa;
    font-size: 20.39px;
    font-family: InterstateBold;
}
header nav {
    width: 100%;
    height: 127px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
header nav ul li a:link {
    padding: 0 15px;
    color: #000;
    font-size: 19.47px;
    text-decoration: none;
}

/* ----------------------------------
BANNER
------------------------------------*/
.sec-banner {
    height: 525px;
    background-image: url(../img/bg-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #518abd;
}
.sec-banner .wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec-banner h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}
.sec-banner p {
    color: #fff;
    font-size: 36px;;
}

/* ----------------------------------
INSIGHTS
------------------------------------*/
.sec-insights {
    padding: 49px 0 39px;
    background-color: #ebebeb;
}
.sec-insights h2 {
    color: #000;
    font-size: 34px;
}
.sec-insights .sub {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
}
.slider-insights {

}
.slider-insights .box {
    padding: 10px;
}
.slider-insights .box .content {
    width: 100%;
    height: 421px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -6px #000;
    box-sizing: border-box;
}
.slider-insights .box .content .img {
    position: relative;
    overflow: hidden;
}
.slider-insights .box .content .img:before {
    content: '';
    position: absolute;
    top: -52px;
    left: -11px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #fff;
    transform: rotate(45deg);
}
.slider-insights .box .content .img:after {
    content: '';
    position: absolute;
    bottom: -45px;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #fff;
    transform: rotate(225deg);
}
.slider-insights .box .content img {
    margin: 0;
    padding: 0;
}
.slider-insights .box .content .title {
    padding-top: 14px;
    font-size: 35px;
    font-weight: bold;
}
.slider-insights .content.slide1 {
    border-bottom: 12px solid #1450d2;
}
.slider-insights .content.slide2 {
    border-bottom: 12px solid #01a49c;
}
.slider-insights .content.slide3 {
    border-bottom: 12px solid #009bfa;
}
.slider-insights .content.slide1 .title {
    color: #1450d2;
}
.slider-insights .content.slide2 .title {
    color: #01a49c;
}
.slider-insights .content.slide3 .title {
    color: #009bfa;
}

/* ----------------------------------
COMMITMENT
------------------------------------*/
.sec-commitment {
    height: 446px;
    background-image: url(../img/bg-commitment.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.sec-commitment .wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-commitment h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}
.sec-commitment p {
    margin-bottom: 60px;
    color: #f7f7f7;
    font-size: 24px;;
    text-align: center;
}
.sec-commitment a {
    display: block;
    width: 182px;
    padding: 17px 0 16px;
    color: #f7f7f7;
    font-size: 17.97px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
}

/* ----------------------------------
EVENTS
------------------------------------*/
.sec-events {
    padding: 49px 0 39px;
    background-color: #ebebeb;
}
.sec-events h2 {
    color: #000;
    font-size: 34px;
}
.sec-events .sub {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
}


/* ----------------------------------
EVENTS
------------------------------------*/
footer {
    height: 97px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #707070;
}
footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer .call-txt {
    font-size: 14px;
    color: #fff;
}
footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social p {
    font-size: 14px;
    color: #fff;
}
footer .social ul {
    display: flex;
}
footer .social ul li {
    padding-left: 10px;
}